[submodule "DogFramework"]
	path = DogFramework
	url = https://github.com/DimgoZzz/DogFramework.git
[submodule "DogEditor"]
	path = DogEditor
	url = https://github.com/DimgoZzz/DogEditor.git
[submodule "DogEngine"]
	path = DogEngine
	url = https://github.com/DimgoZzz/DogEngine.git
